@import url("https://fonts.googleapis.com/css?family=Tajawal");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  src: url("../fonts/droid-font.ttf");
  font-family: 'droid-font';
}

:root {
  --bg-color1: #353535;
  --bg-color2: #222222;
  --shadow-color: #353535;
  --color: white;
  --color2: #cccccc;
  --ar-font: 'droid-font';
}

.light-mode {
  --bg-color2: #e4e4e4;
  --bg-color1: #f3f3f3;
  --shadow-color: rgba(0,0,0,.3);
  --color: black;
  --color2: #3C3C3C;
  --ar-font: 'droid-font';
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  position: fixed;
  background-color: var(--bg-color1);
  width: 100%;
  padding: 5px 20px;
}

.header .main {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .main .header__logo .header__title {
  font-family: var(--ar-font);
  color: var(--color);
  font-size: 25px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .main .header__links {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main .header__links .header__link-about {
  color: var(--color2);
  text-decoration: none;
  font-size: 15px;
  font-family: var(--ar-font);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row {
  direction: rtl;
}

.content {
  background-color: var(--bg-color2);
  padding-top: 100px;
  min-height: 100%;
}

.content .col-3 {
  margin-bottom: 20px;
  padding: 5px 15px;
}

.content .col-3 .reciter-card {
  background-color: var(--bg-color1);
  color: var(--color);
  font-family: var(--ar-font);
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.content .col-3 .reciter-card:hover {
  -webkit-box-shadow: 0px 0px 10px var(--shadow-color);
          box-shadow: 0px 0px 10px var(--shadow-color);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.content .col-3 .reciter-card .card__name {
  font-size: 20px;
  color: var(--color);
  text-decoration: none;
}

.content .col-3 .reciter-card .card__rewaya {
  font-size: 13px;
  color: var(--color2);
}

.content .col-3 .reciter-card .card__suras-num {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--bg-color2);
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 20px;
  font-family: 'Roboto';
}

.change-mode {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 35px;
  width: 35px;
  z-index: 99999;
  color: var(--color);
  background-color: var(--bg-color1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  border-radius: 50%;
  line-height: 2px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px var(--shadow-color);
          box-shadow: 0px 0px 10px var(--shadow-color);
}

.change-mode span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */