@import url("https://fonts.googleapis.com/css?family=Tajawal");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  src: url("../fonts/droid-font.ttf");
  font-family: 'droid-font';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color1: #353535;
  --bg-color2: #222222;
  --shadow-color: #929292;
  --ar-font: 'droid-font';
}

.header {
  position: fixed;
  background-color: var(--bg-color1);
  width: 100%;
  padding: 5px 20px;
}

.header .main {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .main .header__logo .header__title {
  font-family: var(--ar-font);
  color: white;
  font-size: 25px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .main .header__links {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main .header__links .header__link-about {
  color: #cccccc;
  text-decoration: none;
  font-size: 15px;
  font-family: var(--ar-font);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row {
  direction: rtl;
}

/***/
audio {
  outline: none;
}

audio:focus, audio:hover {
  outline: none;
}

.content {
  background-color: var(--bg-color2);
  min-height: 100%;
  padding-top: 40px;
}

.content .reciter-name {
  font-family: var(--ar-font);
  color: white;
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.content .player {
  padding-bottom: 50px;
}

.content .col-3 {
  margin-bottom: 20px;
  padding: 5px 15px;
}

.content .col-3 .sura-card {
  background-color: var(--bg-color1);
  color: white;
  font-family: var(--ar-font);
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.content .col-3 .sura-card:hover {
  -webkit-box-shadow: 0px 0px 20px var(--bg-color1);
          box-shadow: 0px 0px 20px var(--bg-color1);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.content .col-3 .sura-card .card__name {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.content .col-3 .sura-card .sura-ayat {
  font-family: var(--ar-font);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  border-radius: 50%;
  padding: 10px;
  color: #cccccc;
}

.content .col-3 .active-card {
  -webkit-box-shadow: 0px 0px 20px var(--bg-color1);
          box-shadow: 0px 0px 20px var(--bg-color1);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
/*# sourceMappingURL=suras.css.map */