.change-mode{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 35px;
    width: 35px;
    z-index: 99999;
    color: var(--color);
    background-color: var(--bg-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    line-height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--shadow-color);

    span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}